extends layout

block content
 
 
    

    <section class="content-section bg-light" id="info">
    <div class="info">

      <div class="container my-auto">
        <h3 class="text-primary mb-1">MY CAFE</h3>
        <h2 class="text-center mb-5">
          <em><h2> 연구동 그라지에 (Grazie) </h2></em>
        </h2>
    </div>

    

    <!--menutoggle-->
    <section class="menubar">
    <ul class="nav nav-tabs">

    <li class="nav-item">
     <a class="nav-link" href="/menugrazie_coffe">COFFE</a>
    </li>
    <li class="nav-item">
     <a class="nav-link active" href="/menugrazie_latte">LATTE</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/menugrazie_tea">TEA</a>
    </li>
    <li class="nav-item">
     <a class="nav-link" href="/menugrazie_smoothie">SMOOTHIE</a>
    </li>

    </section>

    <!-- MENU -->
    <section class="content-section"id="menu">
    <div class="menu">

    <div class="row">
          <div class="text-center my-auto btn-xl">

            		
            <figure class="figure ml-10">
            <img src="images/greentea.png"class="img-thumbnail float-left" height = 300px width = 200px alt=" 녹차라떼">
            </a>
            <figcaption class="figure-caption"> 녹차라떼</figcaption>
            </figure>

            <figure class="figure ml-10">
            <img src="images/puplegogu.png"class="img-thumbnail float-left" height = 300px width = 200px alt=" 자색고구마라떼">
            </a>
            <figcaption class="figure-caption"> 자색고구마라떼</figcaption>
            </figure>

            


          </div>
    
    
    </section>


    <!--map-->
    <div class ="map">
    <section id="contact" class="map">
      <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3161.8488558428144!2d127.0075219510327!3d37.58217663089053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca332ce4fc06f%3A0x69d067835aeb1453!2z7ISc7Jq47Yq567OE7IucIOyCvOyEoOuPmSDtlZzshLHrjIDtlZnqtZAg7Jew6rWs6rSA!5e0!3m2!1sko!2skr!4v1542532613418"></iframe>
      <br/>
      
    </div>

    
    </section>



    <div class="social-icons">
      <ul class="list-unstyled text-center mb-0">
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="list-unstyled-item">
          <a href="#">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/coming-soon.min.js"></script>